$strokes-secondady: #e6e6e6;
$background-primary: #fff;
$gray: #838383;

.footer {
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px $strokes-secondady solid;
  &__wrapper {
    display: flex;
    align-items: center;
    &__title {
      margin-right: 5px;
      color: $gray;
      font-size: 16px;
      line-height: 25.6px;
    }
    &__button {
      font-size: 16px;
      font-family: '__Inter_9c9965', '__Inter_Fallback_9c9965';
      p {
        font-weight: 500;
        line-height: 25.6px;
      }
    }
  }
}

@media (max-width: 480px) {
  .login {
    background-color: $background-primary;
  }
}
