$strokes-secondady: #e6e6e6;
$background-secondary: #f3f3f3;
$strokes-primary: #d4d4d4;
$gray: #838383;

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.owner {
  position: relative;
  height: 100%;
  &__header {
    position: relative;
    height: 200px;
    background-color: $strokes-secondady;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__load {
      width: 195px;
      height: 40px;
      position: absolute;
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      left: calc(50% - 97px);
      background-color: $background-secondary;
      border: 1px $strokes-primary solid;
      border-radius: 5px;
      p {
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    &__select {
      width: 195px;
      height: 40px;
      position: absolute;
      left: calc(50% - 97px);
      background-color: $background-secondary;
      border: 1px $strokes-primary solid;
      border-radius: 5px;
      p {
        width: 100%;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    &__trash {
      width: 195px;
      height: 40px;
      position: absolute;
      justify-content: space-evenly;
      align-items: center;
      left: calc(50% - 97px);
      background-color: $background-secondary;
      border: 1px $strokes-primary solid;
      border-radius: 5px;
      p {
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__main {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    &__avatar {
      position: absolute;
      top: -51px;
      width: 100px;
      height: 100px;
      text-align: center;
      background-color: $strokes-secondady;
      border: 1px $background-secondary solid;
      border-radius: 50px;
      overflow: hidden;
      cursor: pointer;
      p {
        position: absolute;
        top: 0px;
        width: 100px;
        font-size: 36px;
        line-height: 100px;
        z-index: 1;
      }
      img {
        border-radius: 100px;
      }
      &__load {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1px;
        text-align: center;
        p {
          width: 100%;
          font-size: 18px;
          color: $strokes-primary;
        }
      }
      &__select {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
          transition: all 0.3s;
        }
        p {
          width: 100%;
          font-size: 18px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    &__container {
      padding-top: 85px;
      display: flex;
      justify-content: space-between;
      &__userdata {
        span {
          margin-bottom: 10px;
          font-size: 30px;
          font-weight: 500;
          line-height: 42px;
        }
        p {
          margin-bottom: 30px;
          font-size: 16px;
          line-height: 25.6px;
          color: $gray;
        }
      }
      button {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px $strokes-primary solid;
        border-radius: 5px;
        p {
          margin-left: 13px;
          font-size: 16;
          font-weight: 500;
          line-height: 25.6px;
        }
      }
    }
    &__description {
      margin-bottom: 60px;
      max-width: 600px;
    }
    &__signOut {
      width: 130px;
      height: 40px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px $strokes-primary solid;
      border-radius: 5px;
    }
  }
}

@media (max-width: 860px) {
  .owner {
    &__main {
      margin: 0 30px;
    }
  }
}
@media (max-width: 480px) {
  .owner {
    &__main {
      &__container {
        display: flex;
        flex-direction: column;
        &__userdata {
          p {
            margin-bottom: 10px;
          }
        }
        button {
          margin-bottom: 30px;
        }
      }
    }
  }
}
