$background-secondary: #f3f3f3;
$background-primary: #fff;
$strokes-primary: #d4d4d4;
$gray: #838383;

.registration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: calc(100vh - 145px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-secondary;
  &__bar {
    width: 340px;
    height: 364px;
    padding: 30px;
    background-color: $background-primary;
    &__title {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 500;
      line-height: 42px;
    }
    &__input {
      padding: 0 20px;
      height: 50px;
      margin: 15px 5px;
      display: flex;
      align-items: center;
      border: 1px $strokes-primary solid;
      border-radius: 5px;
      input {
        width: 100%;
        font-size: 16px;
        line-height: 25.6px;
        border: 0px;
      }
    }
    &__button {
      width: 100%;
      line-height: 50px;
      margin-top: 10px;
      background-color: $strokes-primary;
      border-radius: 5px;
      p {
        font-size: 16px;
        font-weight: 500;
        color: $background-secondary;
      }
    }
  }
}

@media (max-width: 480px) {
  .registration {
    background-color: $background-primary;
  }
}
